<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Semester</title>
    <link rel="stylesheet" href="/static/announcements.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/materials.css">
    <link rel="stylesheet" href="/static/style_index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header>
        <h1>Study Materials</h1>
        <button class="mobile-nav-toggle" id="mobileNavToggle" aria-controls="mainNav authNav" aria-expanded="false">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <span class="sr-only">Menu</span>
        </button>
    </header>

    <nav class="main-nav" id="mainNav">
        <a href="index.html">Home</a>
        <a href="timetable.html">Timetable</a>
        <a href="weekly.html">Weekly Planner</a>
        <a href="announcements.html">Announcements</a>
        <a href="materials.html">Study Materials</a>
    </nav>

    <div class="announcement-container">

        {% for sem in semesters %}
        <div class="announcement-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ0IbBrc4-kFvJghYnql6EinCZTuKE-xn14g&s" alt="Announcement Image">
            <div class="note-section">
                <ul>
                <h2><li><a href="{{ url_for('semester_materials', semester=sem) }}">{{ sem }}</a></li></h2>
                </ul>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <script src="/static/script.js"></script>

    <footer>
        <p>Made with ❤️ By Adarsh Varma</p>
    </footer>
</body>
</html>
